$bootstrap-sass-asset-helper: true;
@import "~bootstrap/dist/css/bootstrap.min.css";

#resume-wrapper {
    width: 100%;
    height: 100%;

    .parallex {
      background-image: url("../images/pushkar-peek.jpg");
      /* Set a specific height */
      height: 720px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}